.input-container {
    display: flex;
    flex-direction: column;
    gap: .3em;
    position: relative;

    .custom-input {
        border: 0; 
        outline-width: 0px !important;
        outline-color: transparent;
        padding: 7px 0; 
        border-bottom: 1px solid #ccc;
    }

    .custom-input ~ .focus-border{
        position: absolute; 
        bottom: 0; 
        left: 0; 
        width: 0; 
        height: 2px; 
        transition: 0.4s;
    }

    .custom-input:focus ~ .focus-border,
    .custom-input:focus-visible ~ .focus-border
    {
        width: 100%; 
        transition: 0.4s;
    }

    .basic {
        border: 1px solid #e4e4e7;
        border-radius: 10px;
        outline-width: 0px !important;
        padding: .3rem .5rem;
        outline-color: transparent;
    }

    .basic:focus {
        border: 1px solid #1f2937;
    }
}